.header {
  background: var(--gray-);
  display: flex;
  justify-content: center;
  padding: 1.25rem 0;
  /* 1rem, =16px + 0.25rem = 4px Total = 20px */
  height: 80px
}

.header img{
  height: 2rem;
}
